<!DOCTYPE html>
<html>
<head>
  <title>CatchEmAll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body, a:hover {cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), progress !important;}
  </style>
  <a href="http://www.cursors-4u.com/cursor/2011/03/31/pokeball-pokemon.html" target="_blank" title="Pokeball - Pokemon"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Pokeball - Pokemon" style="position:absolute; top: 0px; right: 0px;" /></a>
</head>
<body>
  <div class="text-center">
    <%= image_tag('banner.png', class: 'banner') %>
  </div>
<%= yield %>

</body>
</html>
